# Created by the repository
*data/
*out/

# Python
*_pycache_*
*/.ipynb_checkpoints/
*.pyc

# YAML
yaml-cpp-yaml-cpp-0.7.0*

# VSCode
*.vscode/*
.history/
*.vsix

# Latex
docs/tikz/auto/
docs/tikz/*pdf
*aux

# Other
*~
/logs/
/*.png
/.env
*.o
*.exe
*.deps*
*parquet
*html
*log
*#
*.#*
*.DS_Store
*.d
*.diff